@font-face {
    font-family: 'Poppins';
     src: url("assets/fonts/Poppins-Regular.ttf");
   }
@media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }
   /* basic settings */
body {
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    min-height: 100vh;
    margin: 0; 
    padding: 0;
    line-height: 1.5;
    background-color: #e1e0e0;
   }

* {
    box-sizing: border-box;
  }

.container {
    max-width: 1100px;
    margin: 0 auto;
  }

   /* links */
  .link {
    text-decoration: none;
    color: #829985;
    transition: color 0.5s;
  }
  
  .link:hover {
    color: #5d7260;
  }
  .my-photo {
    width: 240px; 
    height: 235px;
    border-radius: 150px;
  }

/* header */
header {
    background-color: rgb(184, 177, 188);
}
h1 {
  font-size: 3em;
}

header p {
  font-size: 2em;
  font-style: italic;
}

.photo {
  position: relative;
  margin: 0px;
  top: 20px;

}

  /* navigation */
.nav {
    background-color: rgb(147, 146, 146);
    padding: 5px;
  }

.nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  html {
    scroll-behavior: smooth; 
  }

  .nav-link {
    transition: .3s;
  }

/* left-side - float */
.left-side {
    width: 200px;
    float: left;
  }

/* right-side */
.right-side {
    margin: 0px 0px 0px 220px;
}

/* footer */
.footer {
  background-color: rgb(255, 255, 255);
}
.footer div div {
  display: inline-flex;
  width: 33%;
  padding: 20px;
}

.git::before {
  content: url(assets/img/gitHub.GIF);
}

.photoRs {
  width: 80px;
  height: 32px;
}
